<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fdb50afe-dde3-450e-99e1-38e0b896e1bf/resourcegroups/net/providers/Microsoft.Web/sites/BuddyHub</ResourceId>
    <ResourceGroup>net</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://buddyhub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>buddyhub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BuddyHub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$BuddyHub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="buddyhubEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:newbuddy.database.windows.net,1433;Initial Catalog=buddyhub;User ID=fahim2204@newbuddy;Password=faisal@123" Name="Data Source=tcp:newbuddy.database.windows.net,1433;Initial Catalog=buddyhub;User Id=fahim2204@newbuddy;Password=faisal@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BuddyHub.Models.EntityFramework.buddyhubEntities, BuddyHub" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="buddyhubEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityFramework.BuddyHub.csdl|res://*/Models.EntityFramework.BuddyHub.ssdl|res://*/Models.EntityFramework.BuddyHub.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:newbuddy.database.windows.net,1433;Initial Catalog=buddyhub;User Id=fahim2204@newbuddy;Password=faisal@123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>