@model BuddyHub.Models.VirtualModel.RecoveryPasswordData
@{
    ViewBag.Title = "GetRecoveryPassword";
}

<h2>Get Recovery Password</h2>

<form action="/Password/GetRecoveryPassword" method="post">
    Question one:
    <br /><br />
    <select name="QuestionOne" class="form-select">
        <option value="First math teacher name?" @if (Model.QuestionOne == "First math teacher name?") { <text> selected="selected" </text> }>First math teacher name?</option>
        <option value="Favorite color?" @if (Model.QuestionOne == "Favorite color?") { <text> selected="selected" </text> }>Favorite color?</option>
        <option value="Favorite sports?" @if (Model.QuestionOne == "Favorite sports") { <text> selected="selected" </text> }>Favorite sports?</option>
        <option value="First phone number?" @if (Model.QuestionOne == "First phone number?") { <text> selected="selected" </text> }>First phone number?</option>
        <option value="Favorite place?" @if (Model.QuestionOne == "Favorite place?") { <text> selected="selected" </text> }>Favorite place?</option>
    </select>
    <br />
    <input type="text" name="QuestionOneAnswer" class="form-control" value="@Model.QuestionOneAnswer" />
    @Html.ValidationMessageFor(m => m.QuestionOneAnswer, "", new { @class = "text-danger" })

    <hr />

    Question two:
    <br /><br />
    <select name="QuestionTwo" class="form-select">
        <option value="First math teacher name?" @if (Model.QuestionTwo == "First math teacher name?") { <text> selected="selected" </text> }>First math teacher name?</option>
        <option value="Favorite color?" @if (Model.QuestionTwo == "Favorite color?") { <text> selected="selected" </text> }>Favorite color?</option>
        <option value="Favorite sports?" @if (Model.QuestionTwo == "Favorite sports") { <text> selected="selected" </text> }>Favorite sports?</option>
        <option value="First phone number?" @if (Model.QuestionTwo == "First phone number?") { <text> selected="selected" </text> }>First phone number?</option>
        <option value="Favorite place?" @if (Model.QuestionTwo == "Favorite place?") { <text> selected="selected" </text> }>Favorite place?</option>
    </select>
    <br />
    <input type="text" name="QuestionTwoAnswer" class="form-control" value="@Model.QuestionTwoAnswer" />
    @Html.ValidationMessageFor(m => m.QuestionTwoAnswer, "", new { @class = "text-danger" })
    <br />
    <input type="submit" name="submit" value="Check" class="btn btn-success" />
</form>