@model BuddyHub.Models.VirtualModel.RecoveryPasswordData

@{
    ViewBag.Title = "SetRecoveryPassword";
}

<h2>Set Recovery Password</h2>
<form action="/Password/SetRecoveryPassword" method="post" class="form-control">
    Question one:
    <br /><br />
    <select name="QuestionOne" class="form-select">
        <option value="First math teacher name?" @if (Model.QuestionOne.Trim() == "First math teacher name?") { <text> selected="selected" </text> }>First math teacher name?</option>
        <option value="Favorite color?" @if (Model.QuestionOne.Trim() == "Favorite color?") { <text> selected="selected" </text> }>Favorite color?</option>
        <option value="Favorite sports?" @if (Model.QuestionOne.Trim() == "Favorite sports?") { <text> selected="selected" </text> }>Favorite sports?</option>
        <option value="First phone number?" @if (Model.QuestionOne.Trim() == "First phone number?") { <text> selected="selected" </text> }>First phone number?</option>
        <option value="Favorite place?" @if (Model.QuestionOne.Trim() == "Favorite place?") { <text> selected="selected" </text> }>Favorite place?</option>
    </select>
    <br />
    <input type="text" name="QuestionOneAnswer" class="form-control" value="@Model.QuestionOneAnswer.Trim()" />
    @Html.ValidationMessageFor(m => m.QuestionOneAnswer, "", new { @class = "text-danger" })

    <hr />

    Question two:
    <br /><br />
    <select name="QuestionTwo" class="form-select">        
        <option value="First math teacher name?" @if (Model.QuestionTwo.Trim() == "First math teacher name?") { <text> selected="selected" </text> }>First math teacher name?</option>
        <option value="Favorite color?" @if (Model.QuestionTwo.Trim() == "Favorite color?") { <text> selected="selected" </text> }>Favorite color?</option>
        <option value="Favorite sports?" @if (Model.QuestionTwo.Trim() == "Favorite sports?") { <text> selected="selected" </text> }>Favorite sports?</option>
        <option value="First phone number?" @if (Model.QuestionTwo.Trim() == "First phone number?") { <text> selected="selected" </text> }>First phone number?</option>
        <option value="Favorite place?" @if (Model.QuestionTwo.Trim() == "Favorite place?") { <text> selected="selected" </text> }>Favorite place?</option>
    </select>
    <br />
    <input type="text" name="QuestionTwoAnswer" class="form-control" value="@Model.QuestionTwoAnswer.Trim()" />
    @Html.ValidationMessageFor(m => m.QuestionTwoAnswer, "", new { @class = "text-danger" })
    <br />
    <input type="submit" name="submit" value="Save changes" class="btn btn-success" />
</form>
